Repository nodite/nodite-light: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md,mdx,yml}": "prettier --write"
}

feat: find menus by user
  packages/vuetify-delete-confirm-form/src/components/VDeleteConfirmForm.vue
  packages/vuetify-delete-confirm-form/src/index.ts
  packages/vuetify-delete-confirm-form/src/types/index.ts
  services/admin-api/src/components/menu/menu.service.ts
  services/admin-api/src/components/user/user.service.ts
  websites/admin-web/src/views/menu/ListPage.vue
  websites/admin-web/src/views/role/ListPage.vue
  websites/admin-web/src/views/user/ListPage.vue
Due: eslint --fix

feat: implement api cache
  docker-compose.fdn.yml
  package-lock.json
  packages/admin-auth/src/index.ts
  packages/admin-auth/src/interfaces/authorization.ts
  packages/admin-auth/src/interfaces/authorizedRequest.ts
  packages/admin-auth/src/middlewares/authorized.middleware.ts
  packages/admin-database/package.json
  packages/admin-database/src/index.ts
  packages/admin-database/src/nodite-redis/cache.ts
  packages/admin-database/src/nodite-redis/index.ts
  services/admin-api/src/components/menu/menu.controller.ts
  services/admin-api/src/components/menu/testcase.md
  services/admin-api/src/components/role/role.controller.ts
  services/admin-api/src/components/user/testcase.md
  services/admin-api/src/components/user/user.controller.test.ts
  services/admin-api/src/components/user/user.controller.ts
Due: eslint --fix, prettier --write

chore: move dir of role_menu & role_user
  services/admin-api/src/components/menu/menu.model.ts
  services/admin-api/src/components/role/role.controller.ts
  services/admin-api/src/components/role/role.model.ts
  services/admin-api/src/components/role/role.service.ts
  services/admin-api/src/components/role/role_menu.model.ts
  services/admin-api/src/components/role/role_user.model.ts
  services/admin-api/src/components/user/user.controller.ts
  services/admin-api/src/components/user/user.model.ts
  services/admin-api/src/components/user/user.service.ts
Due: eslint --fix

chore: rename Subscription to Subscribe
  packages/admin-database/src/index.ts
  packages/admin-database/src/nodite-sequelize/index.ts
  services/admin-api/src/components/casbin/casbin.model.ts
  services/admin-api/src/components/menu/menu.model.ts
  services/admin-api/src/components/role/role.model.ts
  services/admin-api/src/components/role/role_menu.model.ts
  services/admin-api/src/components/role/role_user.model.ts
  services/admin-api/src/components/user/user.model.ts
Due: eslint --fix

chore: refactor data tree
  package-lock.json
  package.json
  packages/admin-core/package.json
  packages/admin-core/src/index.ts
  packages/admin-core/src/interfaces/dataTree.ts
  packages/admin-core/src/utils/dataTree.ts
  services/admin-api/package.json
  services/admin-api/src/components/dict_group/dict_group.controller.ts
  services/admin-api/src/components/dict_group/dict_group.interface.ts
  services/admin-api/src/components/dict_group/dict_group.model.ts
  services/admin-api/src/components/dict_group/dict_group.service.ts
  services/admin-api/src/components/dict_type/dict_type.model.ts
  services/admin-api/src/components/menu/menu.controller.ts
  services/admin-api/src/components/menu/menu.interface.ts
  services/admin-api/src/components/menu/menu.model.ts
  services/admin-api/src/components/menu/menu.service.ts
  services/admin-api/src/components/role/role.controller.ts
  services/admin-api/src/components/user/user.controller.ts
  services/admin-api/src/seeds/sys_casbin.seeds.json
  services/admin-api/src/seeds/sys_dict_group.json
  services/admin-api/src/seeds/sys_dict_type.json
  services/admin-api/src/seeds/sys_menu.seeds.json
  services/admin-api/src/seeds/sys_role_menu.seeds.json
  websites/admin-web/src/api/admin/Dict.ts
  websites/admin-web/src/api/admin/Menu.ts
  websites/admin-web/src/api/admin/Role.ts
  websites/admin-web/src/api/admin/User.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/locales/sidebar/locale.en.ts
  websites/admin-web/src/locales/sidebar/locale.zhHans.ts
  websites/admin-web/src/stores/modules/menuStore.ts
  websites/admin-web/src/stores/modules/roleStore.ts
  websites/admin-web/src/stores/modules/userStore.ts
  websites/admin-web/src/utils/navigation.ts
  websites/admin-web/src/views/menu/ListPage.vue
  websites/admin-web/src/views/menu/components/MenuForm.vue
  websites/admin-web/src/views/role/ListPage.vue
  websites/admin-web/src/views/role/components/MenuTreeView.vue
Due: eslint --fix, prettier --write

chore: adjust types & interfaces
  packages/vuetify-data-table-pagination/src/types/index.ts
  packages/vuetify-tree-data-table/src/types/VDataTable.ts
  services/admin-api/src/components/role/role_menu.model.ts
  services/admin-api/src/components/role/role_user.model.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/plugins/cache.ts
  websites/admin-web/src/plugins/i18n.ts
  websites/admin-web/src/stores/modules/authStore.ts
  websites/admin-web/src/stores/modules/menuStore.ts
  websites/admin-web/src/stores/modules/navStore.ts
  websites/admin-web/src/stores/modules/profileStore.ts
  websites/admin-web/src/stores/modules/roleStore.ts
  websites/admin-web/src/stores/modules/userStore.ts
  websites/admin-web/src/types/config.d.ts
  websites/admin-web/src/types/request.ts
  websites/admin-web/src/views/role/UserAsgmtPage.vue
  websites/admin-web/src/views/role/components/MenuTreeView.vue
  websites/admin-web/src/views/user/RoleAsgmtPage.vue
Due: eslint --fix

chore: adjust dirs of dict_group & dict_type
  services/admin-api/src/components/dict/dict_group.controller.ts
  services/admin-api/src/components/dict/dict_group.interface.ts
  services/admin-api/src/components/dict/dict_group.model.ts
  services/admin-api/src/components/dict/dict_group.service.ts
  services/admin-api/src/components/dict/dict_type.model.ts
Due: eslint --fix

chore: adjust primary color of light & dark theme
  websites/admin-web/src/components/CustomizationMenu.vue
  websites/admin-web/src/stores/modules/customizeTheme.ts
  websites/admin-web/src/types/config.d.ts
Due: eslint --fix

chore: refactor menu id from number to uuid
  services/admin-api/src/components/menu/menu.controller.ts
  services/admin-api/src/components/menu/menu.interface.ts
  services/admin-api/src/components/menu/menu.model.ts
  services/admin-api/src/components/menu/menu.service.ts
  services/admin-api/src/components/menu/menu.validation.ts
  services/admin-api/src/components/role/role.controller.ts
  services/admin-api/src/components/role/role.service.ts
  services/admin-api/src/components/role/role_menu.model.ts
  services/admin-api/src/seeds/sys_menu.seeds.json
  services/admin-api/src/seeds/sys_role_menu.seeds.json
  websites/admin-web/src/api/admin/Menu.ts
  websites/admin-web/src/api/admin/Role.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/stores/modules/menuStore.ts
  websites/admin-web/src/stores/modules/roleStore.ts
  websites/admin-web/src/types/config.d.ts
  websites/admin-web/src/views/menu/ListPage.vue
  websites/admin-web/src/views/menu/components/MenuForm.vue
  websites/admin-web/src/views/role/ListPage.vue
  websites/admin-web/src/views/role/components/MenuTreeView.vue
Due: eslint --fix, prettier --write

fix: data table pagination
  packages/vuetify-data-table-pagination/src/components/VDataTablePagination.vue
Due: none

feat: rail sidebar
  package-lock.json
  websites/admin-web/package.json
  websites/admin-web/src/components/navigation/MainMenu.vue
  websites/admin-web/src/components/navigation/MainMenuItem.scss
  websites/admin-web/src/components/navigation/MainMenuItem.vue
  websites/admin-web/src/components/navigation/MainSidebar.vue
  websites/admin-web/src/components/toolbar/MainAppbar.vue
  websites/admin-web/src/stores/modules/customizeTheme.ts
Due: eslint --fix, prettier --write

chore: uninstall @yeger/vue-masonry-wall
  package-lock.json
  websites/admin-web/package.json
  websites/admin-web/src/main.ts
Due: eslint --fix, prettier --write

chore: locale isDefault & status
  services/admin-api/src/components/locale/locale.service.ts
  websites/admin-web/src/stores/modules/localeStore.ts
  websites/admin-web/src/utils/requestToolkit.ts
  websites/admin-web/src/utils/requests.ts
  websites/admin-web/src/views/locale/LocaleList.vue
Due: eslint --fix

feat: treeview select
  package-lock.json
  services/admin-api/src/seeds/sys_locale_location.seeds.json
  services/admin-api/src/seeds/sys_locale_message.seeds.json
  services/admin-api/src/seeds/sys_locale_source.seeds.json
  websites/admin-web/src/components/form/TreeSelect.vue
  websites/admin-web/src/types/config.d.ts
  websites/admin-web/src/utils/cache.ts
  websites/admin-web/src/views/menu/components/MenuForm.vue
  websites/admin-web/src/views/role/ListPage.vue
  websites/admin-web/src/views/role/components/MenuPermsView.vue
Due: eslint --fix, prettier --write

chore(deps-dev): bump eslint-plugin-unused-imports
  package-lock.json
Due: prettier --write

chore(deps): remove md-editor-v3
  package-lock.json
  websites/admin-web/package.json
Due: prettier --write

chore(deps): remove tiptap
  package-lock.json
  websites/admin-web/package.json
Due: prettier --write

feat: dict group
  package-lock.json
  services/admin-api/src/components/dict/dict.controller.ts
  services/admin-api/src/components/dict/dict.interface.ts
  services/admin-api/src/components/dict/dict.validation.ts
  services/admin-api/src/components/dict/dict_group.controller.ts
  services/admin-api/src/components/dict/dict_group.model.ts
  services/admin-api/src/components/dict/dict_group.service.ts
  services/admin-api/src/components/menu/menu.interface.ts
  services/admin-api/src/components/menu/menu.validation.ts
  services/admin-api/src/seeds/sys_casbin.seeds.json
  services/admin-api/src/seeds/sys_dict_group.seeds.json
  services/admin-api/src/seeds/sys_dict_type.seeds.json
  services/admin-api/src/seeds/sys_locale_location.seeds.json
  services/admin-api/src/seeds/sys_locale_message.seeds.json
  services/admin-api/src/seeds/sys_locale_source.seeds.json
  services/admin-api/src/seeds/sys_menu.seeds.json
  websites/admin-web/package.json
  websites/admin-web/src/api/admin/Dict.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/components/form/TreeSelect.vue
  websites/admin-web/src/main.ts
  websites/admin-web/src/plugins/i18n.ts
  websites/admin-web/src/stores/modules/dictStore.ts
  websites/admin-web/src/stores/modules/menuStore.ts
  websites/admin-web/src/styles/_override.scss
  websites/admin-web/src/types/config.d.ts
  websites/admin-web/src/utils/dialogs.ts
  websites/admin-web/src/utils/treeview.ts
  websites/admin-web/src/views/dict/ListPage.vue
  websites/admin-web/src/views/dict/components/DictGroupForm.vue
  websites/admin-web/src/views/locale/LocaleList.vue
  websites/admin-web/src/views/locale/MessageList.vue
  websites/admin-web/src/views/locale/components/LocaleForm.vue
  websites/admin-web/src/views/menu/ListPage.vue
  websites/admin-web/src/views/menu/components/MenuForm.vue
  websites/admin-web/src/views/role/ListPage.vue
  websites/admin-web/src/views/role/components/MenuPermsView.vue
  websites/admin-web/src/views/role/components/RoleForm.vue
  websites/admin-web/src/views/user/ListPage.vue
  websites/admin-web/src/views/user/components/UserForm.vue
Due: eslint --fix, prettier --write

feat: dict type
  services/admin-api/src/components/dict/dict.interface.ts
  services/admin-api/src/components/dict/dict.validation.ts
  services/admin-api/src/components/dict/dict_group.model.ts
  services/admin-api/src/components/dict/dict_group.service.ts
  services/admin-api/src/components/dict/dict_type.controller.ts
  services/admin-api/src/components/dict/dict_type.model.ts
  services/admin-api/src/components/dict/dict_type.service.ts
  services/admin-api/src/components/locale/locale_source.model.ts
  services/admin-api/src/components/menu/menu.service.ts
  services/admin-api/src/components/menu/menu.validation.ts
  services/admin-api/src/components/role/role.service.ts
  services/admin-api/src/seeds/sys_dict_type.seeds.json
  services/admin-api/src/seeds/sys_locale_location.seeds.json
  services/admin-api/src/seeds/sys_locale_message.seeds.json
  services/admin-api/src/seeds/sys_locale_source.seeds.json
  services/admin-api/src/seeds/sys_menu.seeds.json
  websites/admin-web/src/api/admin/Dict.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/components/common/CopyBtn.vue
  websites/admin-web/src/components/common/CopyLabel.vue
  websites/admin-web/src/components/form/TreeSelect.vue
  websites/admin-web/src/stores/modules/dictStore.ts
  websites/admin-web/src/utils/cache.ts
  websites/admin-web/src/utils/clipboard.ts
  websites/admin-web/src/views/auth/SignupPage.vue
  websites/admin-web/src/views/dict/ListPage.vue
  websites/admin-web/src/views/dict/components/DictTypeForm.vue
  websites/admin-web/src/views/locale/LocaleList.vue
  websites/admin-web/src/views/locale/MessageList.vue
  websites/admin-web/src/views/locale/components/LocaleForm.vue
  websites/admin-web/src/views/menu/ListPage.vue
  websites/admin-web/src/views/menu/components/MenuForm.vue
  websites/admin-web/src/views/pages/README.md
  websites/admin-web/src/views/role/ListPage.vue
  websites/admin-web/src/views/role/components/RoleForm.vue
  websites/admin-web/src/views/user/ListPage.vue
  websites/admin-web/src/views/user/components/PassForm.vue
  websites/admin-web/src/views/user/components/UserForm.vue
Due: eslint --fix, prettier --write

chore(deps-dev): bump @commitlint/config-conventional from 19.0.0 to 19.0.3
  package-lock.json
Due: prettier --write

chore(deps-dev): bump @typescript-eslint/parser
  package-lock.json
  packages/eslint-config-base/package.json
Due: prettier --write

chore: github actions
  .cz.yaml
  .github/workflows/changelog.yml
  .github/workflows/publish.yml
  .github/workflows/scripts.yml
  .github/workflows/test.yml
Due: prettier --write

chore: rename github actions
  .github/workflows/changelog.yml
  .github/workflows/test.yml
Due: prettier --write

chore(deps-dev): fix eslint
  package-lock.json
  package.json
  packages/eslint-config-admin-api/.eslintrc.js
  packages/eslint-config-admin-web/package.json
  packages/eslint-config-base/package.json
Due: eslint --fix, prettier --write

chore: add 'bump' scope
  .commitlintrc.js
Due: eslint --fix

chore: format package for commitizen
  .cz.yaml
  .github/dependabot.yml
  .github/workflows/changelog.yml
  package-lock.json
  packages/admin-auth/package.json
  packages/admin-core/package.json
  packages/admin-database/package.json
  packages/eslint-config-admin-api/package.json
  packages/eslint-config-admin-web/package.json
  packages/eslint-config-base/package.json
  packages/vuetify-data-table-pagination/package.json
  packages/vuetify-icon-picker/package.json
  packages/vuetify-tree-data-table/package.json
  services/admin-api/package.json
  websites/admin-web/package.json
Due: prettier --write

chore: todo
  .github/workflows/release.yml
Due: prettier --write

chore: release action
  .github/workflows/release.yml
Due: prettier --write

ci: add 'bump' type for commitlint
  .commitlintrc.js
Due: eslint --fix

chore(deps-dev): upgrade typescript-eslint to v7.x
  package-lock.json
  packages/eslint-config-admin-api/package.json
  packages/eslint-config-admin-web/package.json
  packages/eslint-config-base/package.json
Due: prettier --write

chore: adjust admin router
  .vscode/tasks.json
  packages/admin-auth/src/middlewares/apiKey.middleware.ts
  packages/admin-core/src/config/config.ts
  packages/admin-core/src/config/consts.ts
  packages/admin-core/src/index.ts
  services/admin-api/.env.template
  services/admin-api/package.json
  services/admin-api/src/api.ts
  services/admin-api/src/app.ts
  services/admin-api/src/components/swagger/swagger.router.ts
  services/admin-api/src/middlewares/swagger.middleware.ts
  websites/admin-web/.env.template
  websites/admin-web/src/types/env.d.ts
  websites/admin-web/src/utils/requests.ts
  websites/admin-web/vite.config.ts
Due: eslint --fix, prettier --write
