Repository nodite/nodite-light: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps-dev): bump @types/node from 20.9.4 to 20.10.0
  package-lock.json
Due: prettier --write

chore(deps): bump dotenv from 14.3.2 to 16.3.1
  package-lock.json
  services/admin-api/package-lock.json
  services/admin-api/package.json
Due: prettier --write

chore(deps-dev): bump @typescript-eslint/parser from 6.11.0 to 6.12.0
  package-lock.json
Due: prettier --write

chore(deps-dev): bump @types/styled-components from 5.1.31 to 5.1.32
  package-lock.json
  package.json
Due: prettier --write

chore(deps-dev): bump @types/react-dom from 18.2.15 to 18.2.17
  package-lock.json
Due: prettier --write

chore(deps-dev): bump lerna from 7.4.2 to 8.0.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps-dev): bump ts-jest from 27.1.3 to 29.1.1
  package-lock.json
  package.json
  services/admin-api/package.json
Due: prettier --write

chore(all): initial docker
  .dockerignore
  Dockerfile.dev.admin-api
  Dockerfile.postgres
  docker-compose.dev.yml
  docker-compose.fdn.yml
  docker/debian.sources.list
  docker/postgres-entrypoint.sh
  package-lock.json
  package.json
  services/README.md
  services/admin-api/.env.local
  services/admin-api/README.md
  services/admin-api/nodemon.json
  services/admin-api/package.json
Due: prettier --write

chore(admin-api): best practices
  .eslintrc.json
  package-lock.json
  package.json
  services/README.md
  services/admin-api/.env.local
  services/admin-api/.eslintrc.json
  services/admin-api/.gitignore
  services/admin-api/.nvmrc
  services/admin-api/README.md
  services/admin-api/nodemon.json
  services/admin-api/package.json
  services/admin-api/src/api.ts
  services/admin-api/src/app.ts
  services/admin-api/src/components/base.controller.ts
  services/admin-api/src/components/healthcheck/healthCheck.router.ts
  services/admin-api/src/components/user/README.md
  services/admin-api/src/components/user/user.controller.ts
  services/admin-api/src/components/user/user.interface.ts
  services/admin-api/src/components/user/user.router.ts
  services/admin-api/src/components/user/user.service.ts
  services/admin-api/src/config/config.ts
  services/admin-api/src/config/consts.ts
  services/admin-api/src/core/interfaces/authorizedRequest.ts
  services/admin-api/src/core/interfaces/httpResponse.ts
  services/admin-api/src/core/middlewares/apiKey.middleware.ts
  services/admin-api/src/core/middlewares/authorized.middleware.ts
  services/admin-api/src/core/middlewares/errorHandling.middleware.ts
  services/admin-api/src/core/middlewares/swagger.middleware.ts
  services/admin-api/src/swagger.json
  services/admin-api/tsconfig.json
  services/admin-api/tsoa.json
Due: eslint --fix, prettier --write

fix(admin-api): fix test
  services/admin-api/src/components/healthcheck/healthCheck.test.ts
  services/admin-api/src/components/user/user.controller.test.ts
Due: eslint --fix

chore(all): rename nodite-chakra to nodite-light
  README.md
  package-lock.json
  package.json
  packages/button/README.md
  packages/button/package.json
  packages/example/README.md
  packages/example/package.json
  packages/storybook/package.json
  packages/storybook/stories/RemarkableButton.stories.tsx
  services/admin-api/package.json
  websites/admin-web/package.json
Due: eslint --fix, prettier --write

chore(all): connect databases
  docker-compose.fdn.yml
  docker/mysql/Dockerfile
  docker/mysql/mysql-entrypoint.sh
  docker/postgres/Dockerfile
  docker/postgres/postgres-entrypoint.sh
  package-lock.json
  package.json
  services/admin-api/.env.local
  services/admin-api/package.json
  services/admin-api/src/config/config.ts
  services/admin-api/src/core/utils/sequelizeStore.ts
  services/admin-api/src/server.ts
Due: eslint --fix, prettier --write

chore(admin-api): user
  .eslintrc.json
  docker-compose.fdn.yml
  docker/mysql/Dockerfile
  docker/mysql/mysql-entrypoint.sh
  docker/postgres/Dockerfile
  docker/postgres/postgres-entrypoint.sh
  package-lock.json
  package.json
  services/admin-api/.env.local
  services/admin-api/jest.config.js
  services/admin-api/package.json
  services/admin-api/src/api.ts
  services/admin-api/src/app.ts
  services/admin-api/src/components/base.controller.ts
  services/admin-api/src/components/base.interface.ts
  services/admin-api/src/components/base.model.ts
  services/admin-api/src/components/user/createUser.validation.ts
  services/admin-api/src/components/user/user.controller.test.ts
  services/admin-api/src/components/user/user.controller.ts
  services/admin-api/src/components/user/user.interface.ts
  services/admin-api/src/components/user/user.model.ts
  services/admin-api/src/components/user/user.service.ts
  services/admin-api/src/components/user/user.validation.ts
  services/admin-api/src/config/config.ts
  services/admin-api/src/core/interfaces/authorizedRequest.ts
  services/admin-api/src/core/middlewares/authorized.middleware.ts
  services/admin-api/src/core/middlewares/errorHandling.middleware.ts
  services/admin-api/src/core/utils/database.ts
  services/admin-api/src/server.ts
  services/admin-api/tsconfig.json
Due: eslint --fix, prettier --write

chore(admin-api): auth
  docker-compose.fdn.yml
  docker/redis/Dockerfile
  docker/redis/redis-entrypoint.sh
  package-lock.json
  package.json
  services/admin-api/.env.local
  services/admin-api/nodemon.json
  services/admin-api/package.json
  services/admin-api/src/api.ts
  services/admin-api/src/components/404/404.test.ts
  services/admin-api/src/components/auth/auth.controller.ts
  services/admin-api/src/components/auth/auth.interface.ts
  services/admin-api/src/components/auth/auth.service.ts
  services/admin-api/src/components/auth/auth.validate.ts
  services/admin-api/src/components/healthcheck/healthCheck.test.ts
  services/admin-api/src/components/user/user.model.ts
  services/admin-api/src/config/config.ts
  services/admin-api/src/core/databases/connect.ts
  services/admin-api/src/core/databases/redis/connect.ts
  services/admin-api/src/core/databases/redis/index.ts
  services/admin-api/src/core/databases/redis/interface.ts
  services/admin-api/src/core/databases/sequelize/connect.ts
  services/admin-api/src/core/databases/sequelize/index.ts
  services/admin-api/src/core/databases/sequelize/interface.ts
  services/admin-api/src/core/interfaces/authorizedRequest.ts
  services/admin-api/src/core/middlewares/authorized.middleware.ts
  services/admin-api/src/core/utils/jwt.ts
  services/admin-api/src/server.ts
  volumes/mysql/.gitkeep
  volumes/postgres/.gitkeep
  volumes/redis/.gitkeep
Due: eslint --fix, prettier --write

chore(all): update readme
  README.md
Due: prettier --write

fix(admin-api): fix JwtDestroyType
  services/admin-api/src/core/utils/jwt.ts
Due: eslint --fix

fix(all): fix eslintignore
  services/admin-api/.eslintignore
  services/admin-api/package.json
  websites/admin-web/.eslintignore
Due: prettier --write

chore(all): align env
  .github/workflows/build.yml
  services/admin-api/.env.template
  websites/admin-web/.env.dev
  websites/admin-web/.env.prod
  websites/admin-web/.env.template
  websites/admin-web/package.json
  websites/admin-web/src/types/env.d.ts
Due: eslint --fix, prettier --write

chore(deps): remove firebase
  package-lock.json
  websites/admin-web/package.json
Due: prettier --write

chore(all): fix env
  services/admin-api/src/server.ts
  websites/admin-web/tsconfig.json
  websites/admin-web/vite.config.ts
Due: eslint --fix, prettier --write

chore(admin-web): initial axios
  package-lock.json
  websites/admin-web/.env.template
  websites/admin-web/package.json
  websites/admin-web/src/plugins/cache.ts
  websites/admin-web/src/types/env.d.ts
  websites/admin-web/src/utils/request/index.ts
  websites/admin-web/src/utils/request/middlewares/auth.middleware.ts
  websites/admin-web/src/utils/request/middlewares/dupeRequest.middleware.ts
Due: eslint --fix, prettier --write

chore(admin-web): sidebar with router
  package-lock.json
  websites/admin-web/auto-imports.d.ts
  websites/admin-web/package.json
  websites/admin-web/src/components/navigation/MainMenu.vue
  websites/admin-web/src/components/navigation/MainMenuItem.scss
  websites/admin-web/src/components/navigation/MainMenuItem.vue
  websites/admin-web/src/components/navigation/MainSidebar.vue
  websites/admin-web/src/router/auth.routes.ts
  websites/admin-web/src/router/index.ts
  websites/admin-web/src/router/landing.routes.ts
  websites/admin-web/src/types/config.d.ts
Due: eslint --fix, prettier --write

chore(admin-web): change logo
  websites/admin-web/.env.template
  websites/admin-web/index.html
  websites/admin-web/src/assets/logo_dark.svg
  websites/admin-web/src/assets/logo_light.svg
Due: prettier --write

chore(deps): remove openai
  package-lock.json
  websites/admin-web/package.json
Due: prettier --write

chore(admin-web): remove menu config
  websites/admin-web/src/configs/menus/landing.menu.ts
  websites/admin-web/src/configs/menus/pages.menu.ts
  websites/admin-web/src/configs/menus/ui.menu.ts
  websites/admin-web/src/configs/navigation.ts
Due: eslint --fix

fix(admin-web): fix styles
  websites/admin-web/.env.template
  websites/admin-web/src/configs/index.ts
  websites/admin-web/src/layouts/AuthLayout.vue
  websites/admin-web/src/styles/fonts.scss
  websites/admin-web/src/styles/fonts/Quicksand-Bold.ttf
  websites/admin-web/src/styles/fonts/Quicksand-Light.ttf
  websites/admin-web/src/styles/fonts/Quicksand-Medium.ttf
  websites/admin-web/src/styles/fonts/Quicksand-Regular.ttf
  websites/admin-web/src/styles/fonts/Quicksand-SemiBold.ttf
  websites/admin-web/src/styles/fonts/Quicksand-VariableFont_wght.ttf
  websites/admin-web/src/styles/main.scss
  websites/admin-web/src/styles/variables.scss
  websites/admin-web/src/types/env.d.ts
  websites/admin-web/vite.config.ts
Due: eslint --fix

chore(admin-web): add VITE_APP_BASE_PATH
  websites/admin-web/.env.template
  websites/admin-web/src/router/index.ts
  websites/admin-web/src/types/env.d.ts
  websites/admin-web/vite.config.ts
Due: eslint --fix

fix(all): fix docker
  docker-compose.fdn.yml
  docker/redis/Dockerfile
Due: prettier --write

chore(admin-web): add swagger-typescript-api
  package-lock.json
  package.json
  services/admin-api/src/components/swagger-ui/swagger.router.ts
  services/admin-api/src/core/middlewares/swagger.middleware.ts
  websites/admin-web/openapi.config.ts
  websites/admin-web/package.json
  websites/admin-web/templates/api.ejs
  websites/admin-web/templates/data-contract-jsdoc.ejs
  websites/admin-web/templates/data-contracts.ejs
  websites/admin-web/templates/enum-data-contract.ejs
  websites/admin-web/templates/http-client.ejs
  websites/admin-web/templates/interface-data-contract.ejs
  websites/admin-web/templates/object-field-jsdoc.ejs
  websites/admin-web/templates/procedure-call.ejs
  websites/admin-web/templates/route-docs.ejs
  websites/admin-web/templates/route-name.ejs
  websites/admin-web/templates/route-type.ejs
  websites/admin-web/templates/route-types.ejs
  websites/admin-web/templates/type-data-contract.ejs
Due: eslint --fix, prettier --write

chore(admin-web): vite compression
  package-lock.json
  websites/admin-web/package.json
  websites/admin-web/vite.config.ts
Due: eslint --fix, prettier --write

chore(admin-web): update axios middleware
  websites/admin-web/src/locales/en.ts
  websites/admin-web/src/locales/zhHans.ts
  websites/admin-web/src/types/request.ts
  websites/admin-web/src/utils/request/index.ts
  websites/admin-web/src/utils/request/middlewares/auth.middleware.ts
  websites/admin-web/src/utils/request/middlewares/dupeRequest.middleware.ts
  websites/admin-web/src/utils/request/toolkit.ts
Due: eslint --fix

chore(admin-web): generate apis
  websites/admin-web/src/api/admin/Auth.ts
  websites/admin-web/src/api/admin/User.ts
  websites/admin-web/src/api/admin/data-contracts.ts
Due: eslint --fix

chore(admin-web): update readme
  websites/admin-web/README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md,mdx,yml}
