Repository nodite/nodite-light: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md,mdx,yml}": "prettier --write"
}

chore: adjust database methods
  packages/admin-database/src/connect.ts
  packages/admin-database/src/index.ts
  packages/admin-database/src/nodite-redis/index.ts
  packages/admin-database/src/nodite-sequelize/index.ts
  packages/admin-database/src/nodite-sequelize/interface.ts
  services/admin-api/src/components/casbin/casbin.model.ts
  services/admin-api/src/components/dict/dict_group.model.ts
  services/admin-api/src/components/dict/dict_item.model.ts
  services/admin-api/src/components/dict/dict_type.model.ts
  services/admin-api/src/components/locale/locale.model.ts
  services/admin-api/src/components/locale/locale_location.model.ts
  services/admin-api/src/components/locale/locale_message.model.ts
  services/admin-api/src/components/locale/locale_source.model.ts
  services/admin-api/src/components/menu/menu.model.ts
  services/admin-api/src/components/role/role.model.ts
  services/admin-api/src/components/role/role_menu.model.ts
  services/admin-api/src/components/role/role_user.model.ts
  services/admin-api/src/components/user/user.model.ts
Due: eslint --fix

fix: missing host & port of casbin adapter
  packages/admin-auth/src/_casbin/index.ts
  packages/admin-auth/src/_casbin/model.ts
  packages/admin-auth/src/index.ts
  packages/admin-auth/src/middlewares/authorized.middleware.ts
Due: eslint --fix

chore: adjust openapi behavior
  package-lock.json
  websites/admin-web/openapi.config.ts
  websites/admin-web/package.json
Due: eslint --fix, prettier --write

fix: missing next for apiKey middleware
  packages/admin-auth/src/middlewares/apiKey.middleware.ts
Due: eslint --fix

feat: docker
  .github/workflows/test.yml
  deployment/docker/docker-compose.mysql.yml
  docker-compose.dev.yml
  docker-compose.fdn.yml
  docker-compose.yml
  docker/debian.sources.list
  docker/mysql/Dockerfile
  docker/mysql/mysql-entrypoint.sh
  docker/postgres/Dockerfile
  docker/postgres/postgres-entrypoint.sh
  docker/redis/Dockerfile
  docker/redis/redis-entrypoint.sh
  package-lock.json
  package.json
  packages/admin-auth/.dockerignore
  packages/admin-core/.dockerignore
  packages/admin-core/src/config/config.ts
  packages/admin-database/.dockerignore
  packages/eslint-config-admin-api/.dockerignore
  packages/eslint-config-admin-web/.dockerignore
  packages/eslint-config-base/.dockerignore
  packages/vuetify-data-table-pagination/.dockerignore
  packages/vuetify-icon-picker/.dockerignore
  packages/vuetify-tree-data-table/.dockerignore
  services/admin-api/.dockerignore
  services/admin-api/.env.template
  services/admin-api/Dockerfile
  services/admin-api/package.json
  websites/admin-web/.dockerignore
  websites/admin-web/.env.development
  websites/admin-web/.env.prod
  websites/admin-web/Dockerfile
  websites/admin-web/nginx.conf
  websites/admin-web/package.json
  websites/admin-web/src/router/index.ts
  websites/admin-web/src/utils/requestToolkit.ts
  websites/admin-web/vite.config.ts
Due: eslint --fix, prettier --write

docs: readme
  README.md
  assets/alipay.jpg
  assets/logo.png
  assets/wechat.jpg
  websites/admin-web/README.md
Due: prettier --write

docs: readme of zh
  README_zh.md
Due: prettier --write

docs: vitepress
  .gitignore
  docs/.vitepress/config/en.mts
  docs/.vitepress/config/index.mts
  docs/api-examples.md
  docs/guide/what-is-nodite-light.md
  docs/index.md
  docs/logo.png
  docs/markdown-examples.md
  package-lock.json
  package.json
Due: prettier --write

feat: enable gzip for nginx
  websites/admin-web/nginx.conf
Due: none

docs: quickstart
  docs/.vitepress/config/index.mts
  docs/api-examples.md
  docs/guide/quickstart.md
  docs/markdown-examples.md
Due: prettier --write

docs: github action
  .github/workflows/docs.yml
Due: prettier --write

docs: base /nodite-light/
  .github/workflows/docs.yml
  README.md
  README_zh.md
  docs/.vitepress/config/index.mts
  docs/guide/what-is-nodite-light.md
Due: prettier --write

docs: readme
  README.md
  README_zh.md
Due: prettier --write

chore: fix typing
  packages/admin-database/src/nodite-sequelize/model.ts
Due: eslint --fix

chore: update package versions and add development overview
  development/overview.md
  package-lock.json
  package.json
  packages/admin-auth/package.json
  packages/admin-core/package.json
  packages/admin-database/package.json
  packages/eslint-config-admin-api/package.json
  packages/eslint-config-admin-web/package.json
  packages/eslint-config-base/package.json
  packages/vuetify-data-table-pagination/package.json
  packages/vuetify-icon-picker/package.json
  packages/vuetify-tree-data-table/package.json
  services/admin-api/package.json
  websites/admin-web/package.json
Due: prettier --write
