Repository nodite/nodite-light: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(admin-web): package version
  websites/admin-web/src/layouts/AuthLayout.vue
  websites/admin-web/vite.config.ts
Due: eslint --fix

chore: user register
  services/admin-api/src/components/auth/auth.controller.ts
  services/admin-api/src/components/auth/auth.interface.ts
  services/admin-api/src/components/auth/auth.service.ts
  services/admin-api/src/components/auth/auth.validate.ts
  websites/admin-web/README.md
  websites/admin-web/src/api/admin/Auth.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/locales/en.ts
  websites/admin-web/src/locales/ja.ts
  websites/admin-web/src/locales/zhHans.ts
  websites/admin-web/src/router/auth.routes.ts
  websites/admin-web/src/stores/modules/authStore.ts
  websites/admin-web/src/views/auth/SigninPage.vue
  websites/admin-web/src/views/auth/SignupPage.vue
Due: eslint --fix, prettier --write

chore(admin-web): profile store
  websites/admin-web/src/components/toolbar/ToolbarUser.vue
  websites/admin-web/src/router/index.ts
  websites/admin-web/src/stores/modules/authStore.ts
  websites/admin-web/src/stores/modules/profileStore.ts
Due: eslint --fix

fix(admin-api): fix jwt stateless
  services/admin-api/src/components/auth/auth.service.ts
  services/admin-api/src/core/databases/redis/connect.ts
  services/admin-api/src/core/middlewares/authorized.middleware.ts
  services/admin-api/src/core/utils/jwt.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/stores/modules/authStore.ts
Due: eslint --fix

chore: disable scripts workflow
  .github/workflows/scripts.yml
Due: prettier --write

chore(deps): remove microsoft-cognitiveservices-speech-sdk
  package-lock.json
  websites/admin-web/package.json
Due: prettier --write

chore: menu
  .vscode/settings.json
  Dockerfile.dev.admin-api
  package.json
  services/admin-api/Dockerfile
  services/admin-api/src/components/menu/_iac/menu.interface.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/assets/wechat-qrcode.png
  websites/admin-web/src/assets/wechat.jpg
  websites/admin-web/src/components/Breadcrumb.vue
  websites/admin-web/src/components/CustomizationMenu.vue
  websites/admin-web/src/components/PageTitle.vue
  websites/admin-web/src/components/navigation/MainMenuItem.vue
  websites/admin-web/src/components/navigation/MainSidebar.vue
  websites/admin-web/src/locales/en.ts
  websites/admin-web/src/router/auth.routes.ts
  websites/admin-web/src/router/index.ts
  websites/admin-web/src/router/landing.routes.ts
  websites/admin-web/src/stores/modules/authStore.ts
  websites/admin-web/src/stores/modules/navStore.ts
  websites/admin-web/src/types/config.d.ts
  websites/admin-web/src/utils/navigation.ts
  websites/admin-web/src/views/menu/ListPage.vue
  websites/admin-web/src/views/ui/LottieAnimationPage.vue
Due: eslint --fix, prettier --write

chore: adjust locales
  websites/admin-web/src/configs/locales.ts
  websites/admin-web/src/locales/$vuetify/locale.en.ts
  websites/admin-web/src/locales/$vuetify/locale.ja.ts
  websites/admin-web/src/locales/$vuetify/locale.zhHans.ts
  websites/admin-web/src/locales/common/locale.en.ts
  websites/admin-web/src/locales/common/locale.ja.ts
  websites/admin-web/src/locales/common/locale.zhHans.ts
  websites/admin-web/src/locales/dashboard/locale.en.ts
  websites/admin-web/src/locales/dashboard/locale.ja.ts
  websites/admin-web/src/locales/dashboard/locale.zhHans.ts
  websites/admin-web/src/locales/en.ts
  websites/admin-web/src/locales/index.ts
  websites/admin-web/src/locales/ja.ts
  websites/admin-web/src/locales/login/locale.en.ts
  websites/admin-web/src/locales/login/locale.ja.ts
  websites/admin-web/src/locales/login/locale.zhHans.ts
  websites/admin-web/src/locales/register/locale.en.ts
  websites/admin-web/src/locales/register/locale.ja.ts
  websites/admin-web/src/locales/register/locale.zhHans.ts
  websites/admin-web/src/locales/sidebar/locale.en.ts
  websites/admin-web/src/locales/sidebar/locale.zhHans.ts
  websites/admin-web/src/locales/toolbox/locale.en.ts
  websites/admin-web/src/locales/toolbox/locale.ja.ts
  websites/admin-web/src/locales/toolbox/locale.zhHans.ts
  websites/admin-web/src/locales/views/menu/locale.en.ts
  websites/admin-web/src/locales/zhHans.ts
  websites/admin-web/src/types/env.d.ts
Due: eslint --fix

chore: create/update/delete for menu
  README.md
  package-lock.json
  packages/vuetify-tree-data-table/src/components/VTreeDataTable.vue
  packages/vuetify-tree-data-table/src/components/VTreeDataTableRows.vue
  packages/vuetify-tree-data-table/src/types/VDataTable.ts
  services/admin-api/src/components/base.controller.ts
  services/admin-api/src/components/menu/_iac/menu.interface.ts
  services/admin-api/src/components/menu/_iac/menu.seeds.json
  services/admin-api/src/components/menu/menu.controller.ts
  services/admin-api/src/components/menu/menu.service.ts
  services/admin-api/src/components/menu/menu.validation.ts
  services/admin-api/src/components/user/user.controller.ts
  services/admin-api/src/components/user/user.service.ts
  websites/admin-web/package.json
  websites/admin-web/public/favicon.png
  websites/admin-web/src/api/admin/Menu.ts
  websites/admin-web/src/api/admin/User.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/assets/default_avatar.jpeg
  websites/admin-web/src/assets/logo.png
  websites/admin-web/src/assets/logo.svg
  websites/admin-web/src/components/navigation/MainMenuItem.vue
  websites/admin-web/src/components/toolbar/ToolbarUser.vue
  websites/admin-web/src/configs/locales.ts
  websites/admin-web/src/locales/common/locale.en.ts
  websites/admin-web/src/locales/common/locale.zhHans.ts
  websites/admin-web/src/locales/views/menu/locale.en.ts
  websites/admin-web/src/locales/views/menu/locale.zhHans.ts
  websites/admin-web/src/stores/modules/menuStore.ts
  websites/admin-web/src/styles/_override.scss
  websites/admin-web/src/utils/navigation.ts
  websites/admin-web/src/utils/request/index.ts
  websites/admin-web/src/views/menu/ListPage.vue
  websites/admin-web/src/views/menu/components/MenuForm.vue
Due: eslint --fix, prettier --write

chore: clean package
  lerna.json
  package-lock.json
  package.json
  scripts/create-package.ts
  templates/react-template/.eslintrc.json
  templates/react-template/README.md
  templates/react-template/__tests__/index.test.tsx
  templates/react-template/jest.config.ts
  templates/react-template/package.json
  templates/react-template/src/Component.tsx
  templates/react-template/src/index.ts
  templates/react-template/tsconfig.json
  templates/typescript-template/.eslintrc.json
  templates/typescript-template/README.md
  templates/typescript-template/__tests__/index.test.ts
  templates/typescript-template/jest.config.ts
  templates/typescript-template/package.json
  templates/typescript-template/src/index.ts
  templates/typescript-template/tsconfig.json
  tsconfig.json
  volumes/mysql/.gitkeep
  volumes/postgres/.gitkeep
  volumes/redis/.gitkeep
Due: eslint --fix, prettier --write

fix: fix permission of menu tree
  services/admin-api/src/components/menu/menu.controller.ts
  websites/admin-web/src/views/menu/components/MenuForm.vue
Due: eslint --fix

chore: db seeds and code styles
  package-lock.json
  packages/admin-database/package.json
  packages/admin-database/src/nodite-sequelize/index.ts
  packages/admin-database/src/nodite-sequelize/interface.ts
  packages/admin-database/src/nodite-sequelize/model.ts
  services/admin-api/src/api.ts
  services/admin-api/src/app.ts
  services/admin-api/src/components/auth/auth.controller.ts
  services/admin-api/src/components/auth/auth.interface.ts
  services/admin-api/src/components/auth/auth.service.ts
  services/admin-api/src/components/base.model.ts
  services/admin-api/src/components/healthcheck/healthCheck.router.ts
  services/admin-api/src/components/menu/menu.controller.ts
  services/admin-api/src/components/menu/menu.interface.ts
  services/admin-api/src/components/menu/menu.model.ts
  services/admin-api/src/components/menu/menu.schema.ts
  services/admin-api/src/components/menu/menu.service.ts
  services/admin-api/src/components/menu/menu.validation.ts
  services/admin-api/src/components/swagger-ui/swagger.router.ts
  services/admin-api/src/components/user/user.controller.test.ts
  services/admin-api/src/components/user/user.controller.ts
  services/admin-api/src/components/user/user.interface.ts
  services/admin-api/src/components/user/user.model.ts
  services/admin-api/src/components/user/user.schema.ts
  services/admin-api/src/components/user/user.service.ts
  services/admin-api/src/middlewares/swagger.middleware.ts
  services/admin-api/src/seeds/menu.seeds.json
  services/admin-api/src/seeds/user.seeds.json
  services/admin-api/tsconfig.json
  services/admin-api/tsoa.json
  websites/admin-web/src/locales/sidebar/locale.en.ts
  websites/admin-web/src/locales/sidebar/locale.zhHans.ts
Due: eslint --fix, prettier --write

feat: sonner & toast
  package-lock.json
  websites/admin-web/package.json
  websites/admin-web/src/App.vue
  websites/admin-web/src/components/common/Snackbar.vue
  websites/admin-web/src/components/common/Sonner.vue
  websites/admin-web/src/stores/modules/authStore.ts
  websites/admin-web/src/stores/modules/snackbarStore.ts
  websites/admin-web/src/utils/request/index.ts
  websites/admin-web/src/views/auth/SigninPage.vue
  websites/admin-web/src/views/menu/components/MenuForm.vue
Due: eslint --fix, prettier --write

feat: user
  package-lock.json
  packages/admin-core/package.json
  packages/admin-core/src/middlewares/errorHandling.middleware.ts
  packages/admin-database/src/nodite-sequelize/model.ts
  services/admin-api/src/components/menu/menu.service.ts
  services/admin-api/src/components/menu/testcase.md
  services/admin-api/src/components/user/testcase.md
  services/admin-api/src/components/user/user.controller.ts
  services/admin-api/src/components/user/user.interface.ts
  services/admin-api/src/components/user/user.schema.ts
  services/admin-api/src/components/user/user.service.ts
  services/admin-api/src/components/user/user.validation.ts
  services/admin-api/src/seeds/menu.seeds.json
  websites/admin-web/src/api/admin/Menu.ts
  websites/admin-web/src/api/admin/User.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/components/navigation/MainMenuItem.scss
  websites/admin-web/src/locales/common/locale.en.ts
  websites/admin-web/src/locales/common/locale.zhHans.ts
  websites/admin-web/src/locales/views/menu/locale.en.ts
  websites/admin-web/src/locales/views/menu/locale.zhHans.ts
  websites/admin-web/src/locales/views/user/locale.en.ts
  websites/admin-web/src/locales/views/user/locale.zhHans.ts
  websites/admin-web/src/stores/modules/authStore.ts
  websites/admin-web/src/stores/modules/menuStore.ts
  websites/admin-web/src/stores/modules/userStore.ts
  websites/admin-web/src/utils/request/index.ts
  websites/admin-web/src/utils/request/toolkit.ts
  websites/admin-web/src/views/auth/SigninPage.vue
  websites/admin-web/src/views/menu/ListPage.vue
  websites/admin-web/src/views/menu/components/MenuForm.vue
  websites/admin-web/src/views/user/ListPage.vue
  websites/admin-web/src/views/user/components/PassForm.vue
  websites/admin-web/src/views/user/components/UserForm.vue
Due: eslint --fix, prettier --write

feat: update seeds
  services/admin-api/src/seeds/menu.seeds.json
  services/admin-api/src/seeds/user.seeds.json
Due: prettier --write

feat: update menu form
  services/admin-api/src/components/menu/menu.controller.ts
  services/admin-api/src/components/menu/menu.service.ts
  websites/admin-web/src/api/admin/Menu.ts
  websites/admin-web/src/stores/modules/menuStore.ts
  websites/admin-web/src/stores/modules/navStore.ts
  websites/admin-web/src/views/menu/ListPage.vue
  websites/admin-web/src/views/menu/components/MenuForm.vue
Due: eslint --fix

feat: update user form
  services/admin-api/src/components/user/user.controller.test.ts
  services/admin-api/src/components/user/user.controller.ts
  services/admin-api/src/components/user/user.service.ts
  services/admin-api/src/components/user/user.validation.ts
  websites/admin-web/src/api/admin/User.ts
  websites/admin-web/src/locales/views/user/locale.en.ts
  websites/admin-web/src/locales/views/user/locale.zhHans.ts
  websites/admin-web/src/stores/modules/userStore.ts
  websites/admin-web/src/views/menu/components/MenuForm.vue
  websites/admin-web/src/views/user/ListPage.vue
  websites/admin-web/src/views/user/components/PassForm.vue
  websites/admin-web/src/views/user/components/UserForm.vue
Due: eslint --fix

feat: user search & pagination
  packages/admin-database/src/nodite-sequelize/interface.ts
  packages/admin-database/src/nodite-sequelize/model.ts
  services/admin-api/src/components/base.interface.ts
  services/admin-api/src/components/user/user.controller.ts
  services/admin-api/src/components/user/user.service.ts
  websites/admin-web/src/api/admin/User.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/locales/common/locale.en.ts
  websites/admin-web/src/locales/common/locale.zhHans.ts
  websites/admin-web/src/stores/modules/userStore.ts
  websites/admin-web/src/styles/_override.scss
  websites/admin-web/src/views/user/ListPage.vue
Due: eslint --fix

fix: commitlintrc not working
  .commitlintrc.js
  package.json
Due: eslint --fix, prettier --write

chore: clean package
  packages/vuetify-delete-confirm-form/src/components/DeleteConfirmForm.vue
  websites/admin-web/src/configs/currencies.ts
  websites/admin-web/src/data/logos.ts
  websites/admin-web/src/data/members.ts
  websites/admin-web/src/data/users.ts
  websites/admin-web/src/utils/colorUtils.ts
  websites/admin-web/src/utils/common.ts
  websites/admin-web/src/utils/csvToJson.ts
  websites/admin-web/src/utils/deepMerge.ts
  websites/admin-web/src/utils/index.ts
  websites/admin-web/src/utils/type-chanlleges.ts
Due: eslint --fix

fix: reject unknown error
  websites/admin-web/src/utils/request/index.ts
Due: eslint --fix

chore: remove toolbox
  package-lock.json
  websites/admin-web/src/components/Toolbox.vue
  websites/admin-web/src/layouts/LandingLayout.vue
  websites/admin-web/src/layouts/UILayout.vue
Due: prettier --write

feat: menu perms for role
  package-lock.json
  packages/admin-auth/src/nd-casbin/model.ts
  packages/admin-core/src/middlewares/errorHandling.middleware.ts
  packages/vuetify-data-table-pagination/src/components/VDataTablePagination.vue
  packages/vuetify-data-table-pagination/src/index.ts
  packages/vuetify-delete-confirm-form/src/components/VDeleteConfirmForm.vue
  packages/vuetify-delete-confirm-form/src/index.ts
  packages/vuetify-icon-picker/package.json
  packages/vuetify-icon-picker/src/components/VIconPicker.vue
  packages/vuetify-icon-picker/src/index.ts
  services/admin-api/src/components/casbin/casbin.model.ts
  services/admin-api/src/components/role/role.model.ts
  services/admin-api/src/seeds/sys_casbin.seeds.json
  websites/admin-web/package.json
  websites/admin-web/src/components/Breadcrumb.vue
  websites/admin-web/src/components/PageTitle.vue
  websites/admin-web/src/components/navigation/MainMenuItem.vue
  websites/admin-web/src/components/treeview/MenuTreeView.vue
  websites/admin-web/src/locales/views/menu/locale.en.ts
  websites/admin-web/src/locales/views/menu/locale.zhHans.ts
  websites/admin-web/src/locales/views/role/locale.en.ts
  websites/admin-web/src/locales/views/role/locale.zhHans.ts
  websites/admin-web/src/main.ts
  websites/admin-web/src/plugins/i18n.ts
  websites/admin-web/src/stores/modules/navStore.ts
  websites/admin-web/src/types/env.d.ts
  websites/admin-web/src/utils/menu.ts
  websites/admin-web/src/views/menu/ListPage.vue
  websites/admin-web/src/views/menu/components/MenuForm.vue
  websites/admin-web/src/views/role/ListPage.vue
  websites/admin-web/src/views/role/components/RoleForm.vue
  websites/admin-web/src/views/user/ListPage.vue
  websites/admin-web/src/views/user/components/PassForm.vue
  websites/admin-web/src/views/user/components/UserForm.vue
Due: eslint --fix, prettier --write

fix: circular imports
  websites/admin-web/src/views/user/components/UserForm.vue
Due: none

feat: menu perms for role
  packages/admin-auth/src/nd-casbin/model.ts
  services/admin-api/src/components/menu/menu.interface.ts
  services/admin-api/src/components/menu/menu.model.ts
  services/admin-api/src/components/role/role.controller.ts
  services/admin-api/src/components/role/role.model.ts
  services/admin-api/src/components/role/role.service.ts
  services/admin-api/src/components/role_menu/role_menu.model.ts
  services/admin-api/src/seeds/sys_casbin.seeds.json
  services/admin-api/src/seeds/sys_role_menu.seeds.json
  websites/admin-web/src/api/admin/Role.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/components/treeview/MenuTreeView.vue
  websites/admin-web/src/stores/modules/roleStore.ts
  websites/admin-web/src/views/role/ListPage.vue
Due: eslint --fix, prettier --write

feat: update menu perms for role
  package-lock.json
  packages/admin-auth/src/index.ts
  packages/admin-auth/src/nd-casbin/model.ts
  packages/admin-database/src/nodite-sequelize/model.ts
  services/admin-api/package.json
  services/admin-api/src/components/casbin/casbin.model.ts
  services/admin-api/src/components/menu/menu.interface.ts
  services/admin-api/src/components/menu/menu.model.ts
  services/admin-api/src/components/menu/menu.service.ts
  services/admin-api/src/components/role/role.controller.ts
  services/admin-api/src/components/role/role.model.ts
  services/admin-api/src/components/role/role.service.ts
  services/admin-api/src/components/role_menu/role_menu.model.ts
  services/admin-api/src/components/user/user.service.ts
  services/admin-api/src/seeds/sys_casbin.seeds.json
  services/admin-api/src/seeds/sys_menu.seeds.json
  services/admin-api/src/seeds/sys_role.seeds.json
  services/admin-api/src/seeds/sys_role_menu.seeds.json
  services/admin-api/src/seeds/sys_user.seeds.json
  websites/admin-web/src/api/admin/Role.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/components/treeview/MenuTreeView.vue
  websites/admin-web/src/locales/views/role/locale.en.ts
  websites/admin-web/src/locales/views/role/locale.zhHans.ts
  websites/admin-web/src/stores/modules/roleStore.ts
  websites/admin-web/src/views/role/ListPage.vue
Due: eslint --fix, prettier --write

fix: remove excess sidebar requests
  websites/admin-web/src/components/navigation/MainSidebar.vue
Due: none

chore: implement nested routes
  services/admin-api/src/seeds/sys_casbin.seeds.json
  services/admin-api/src/seeds/sys_menu.seeds.json
  services/admin-api/src/seeds/sys_role_menu.seeds.json
  services/admin-api/src/seeds/sys_user.seeds.json
  websites/admin-web/src/components/Breadcrumb.vue
  websites/admin-web/src/configs/locales.ts
  websites/admin-web/src/locales/common/locale.en.ts
  websites/admin-web/src/locales/common/locale.zhHans.ts
  websites/admin-web/src/locales/views/role/locale.en.ts
  websites/admin-web/src/locales/views/role/locale.zhHans.ts
  websites/admin-web/src/router/index.ts
  websites/admin-web/src/stores/modules/navStore.ts
  websites/admin-web/src/utils/navigation.ts
  websites/admin-web/src/views/menu/components/MenuForm.vue
  websites/admin-web/src/views/role/ListPage.vue
  websites/admin-web/src/views/role/UserAsgmtPage.vue
Due: eslint --fix, prettier --write

chore(deps-dev): uninstall @commitlint/config-lerna-scopes
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade tsoa
  packages/admin-auth/src/utils/jwt.ts
  services/admin-api/src/components/menu/menu.model.ts
  services/admin-api/src/components/role/role.model.ts
  services/admin-api/src/components/user/user.model.ts
  websites/admin-web/src/api/admin/data-contracts.ts
Due: eslint --fix

feat: user assignment for role
  package-lock.json
  packages/vuetify-tree-data-table/src/components/VTreeDataTable.vue
  services/admin-api/src/components/casbin/casbin.model.ts
  services/admin-api/src/components/role/role.controller.ts
  services/admin-api/src/components/role/role.model.ts
  services/admin-api/src/components/role/role.service.ts
  services/admin-api/src/components/role_menu/role_menu.model.ts
  services/admin-api/src/components/role_user/role_user.model.ts
  services/admin-api/src/components/user/user.model.ts
  services/admin-api/src/seeds/sys_casbin.seeds.json
  services/admin-api/src/seeds/sys_menu.seeds.json
  services/admin-api/src/seeds/sys_role_menu.seeds.json
  services/admin-api/src/seeds/sys_role_user.seeds.json
  services/admin-api/src/seeds/sys_user.seeds.json
  websites/admin-web/package.json
  websites/admin-web/src/api/admin/Role.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/layouts/UILayout.vue
  websites/admin-web/src/locales/common/locale.en.ts
  websites/admin-web/src/locales/common/locale.zhHans.ts
  websites/admin-web/src/locales/views/role/locale.en.ts
  websites/admin-web/src/locales/views/role/locale.zhHans.ts
  websites/admin-web/src/stores/modules/navStore.ts
  websites/admin-web/src/stores/modules/roleStore.ts
  websites/admin-web/src/utils/navigation.ts
  websites/admin-web/src/utils/request/index.ts
  websites/admin-web/src/views/menu/ListPage.vue
  websites/admin-web/src/views/menu/components/MenuForm.vue
  websites/admin-web/src/views/role/ListPage.vue
  websites/admin-web/src/views/role/UserAsgmtPage.vue
  websites/admin-web/src/views/role/components/RoleForm.vue
  websites/admin-web/src/views/user/ListPage.vue
  websites/admin-web/src/views/user/components/UserForm.vue
Due: eslint --fix, prettier --write

fix: circular imports
  websites/admin-web/src/utils/navigation.ts
Due: eslint --fix

chore: gitee mirror
  .github/workflows/gitee.yml
Due: prettier --write

feat: assign roles to user
  packages/admin-database/src/nodite-sequelize/model.ts
  services/admin-api/src/components/casbin/casbin.model.ts
  services/admin-api/src/components/menu/menu.model.ts
  services/admin-api/src/components/role/role.service.ts
  services/admin-api/src/components/user/user.controller.ts
  services/admin-api/src/components/user/user.interface.ts
  services/admin-api/src/components/user/user.service.ts
  services/admin-api/src/seeds/sys_menu.seeds.json
  services/admin-api/src/seeds/sys_role_menu.seeds.json
  websites/admin-web/src/api/admin/User.ts
  websites/admin-web/src/api/admin/data-contracts.ts
  websites/admin-web/src/components/toolbar/LanguageSwitcher.vue
  websites/admin-web/src/configs/index.ts
  websites/admin-web/src/configs/locales.ts
  websites/admin-web/src/locales/common/locale.en.ts
  websites/admin-web/src/locales/common/locale.zhHans.ts
  websites/admin-web/src/locales/index.ts
  websites/admin-web/src/locales/views/menu/locale.en.ts
  websites/admin-web/src/locales/views/menu/locale.zhHans.ts
  websites/admin-web/src/locales/views/role/locale.en.ts
  websites/admin-web/src/locales/views/role/locale.zhHans.ts
  websites/admin-web/src/locales/views/user/locale.en.ts
  websites/admin-web/src/locales/views/user/locale.zhHans.ts
  websites/admin-web/src/plugins/i18n.ts
  websites/admin-web/src/stores/modules/customizeTheme.ts
  websites/admin-web/src/stores/modules/roleStore.ts
  websites/admin-web/src/stores/modules/userStore.ts
  websites/admin-web/src/types/config.d.ts
  websites/admin-web/src/utils/formatCurrency.ts
  websites/admin-web/src/views/menu/components/MenuForm.vue
  websites/admin-web/src/views/role/ListPage.vue
  websites/admin-web/src/views/role/components/RoleForm.vue
  websites/admin-web/src/views/user/ListPage.vue
  websites/admin-web/src/views/user/RoleAsgmtPage.vue
  websites/admin-web/src/views/user/components/UserForm.vue
Due: eslint --fix, prettier --write

chore: remove gitee mirror
  .github/workflows/gitee.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{css,html,json,md,mdx,yml}
